/*通用*/
.clearfix:after { content: ""; display: block; clear: both;}
.clearfix { zoom: 1;}/*zoom:1表示缩放*/
.fl { float: left;}
.fr { float: right;}
.hide {display: none;}
.show { display: block;}
*{ margin: 0; padding: 0;}
/**/
.main{ width:1000px; margin:0 auto;}
/*搜索框*/
.search_box{ width:290px; /*padding-left:20px;*/ padding-top:20px;}
.search_text{ width:210px; height:27px; line-height:27px\9;/*\9 代表所有的IE浏览器，解决IE6兼容性*/ padding:0 5px; background-color:#fff; border: 1px solid #ccc; font:14px '微软雅黑'; color: #000;}
.search_btn{ width:50px; height:29px; font:15px '微软雅黑'; background: #ccc; color:#000; cursor:pointer; border: 1px solid #ccc; border-radius: 15%;}
/*左侧*/
.main_left{ width: 70%; margin-top: 20px;}
.cartoon{ width: 100%; color: #999; font:20px "华文行楷"; border-bottom:3px solid #ccc;}
.list{ width: 100%; margin-top: 20px;}
.pic{ width: 30%; margin-left: 17px; float: left;}
.img{ width: 100%; height: 200px; border: 1px solid #ccc; margin-bottom: 10px;}
img{ width: 100%; height: 100%; clear: none;}
.nolike{ width:45%; height:30px; font:15px '楷体'; background: #ccc; color:#000; cursor:pointer; border: 1px solid #ccc; border-radius: 10%;}
.like{ width:45%; height:30px; font:15px '楷体'; background: #ccc; color:#000; cursor:pointer; border: 1px solid #ccc; border-radius: 10%;}
.nolike:hover,.like:hover{ background: #cdc; color: #fff; border: 1px solid #cdc;}







